.container {
    width: 300px;
    color: #314d3e;
  }
  
.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
  
.bar {
    background-color: black;
    height: 2px;
    margin-top: 5px;
}

form {
  margin-top: 10px;
  font-weight: bold;
  padding: 10px 10px 2px 10px;
  background-color: #c9bcb7;
  border-radius: 5px;
}

.dataField {
  margin-bottom: 10px;
}

input {
  margin-left: 3px;
}

fieldset {
  border-radius: 3px;
  text-align: center;
}

.daysOfWeek {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
